<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.gmail.csummitt09"
        versionCode = "10" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->
	<preference name="phonegap-version" value="3.6.3" />

    <name>Jericho TD</name>

    <description>
        A rough draft of a survival tower defence
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Christopher Summitt
    </author>
	
	
	<gap:plugin name="nl.x-services.plugins.toast" version="2.0.2" />
	<gap:plugin name="net.yoik.cordova.plugins.screenorientation" version="1.2.1" />
</widget>