table#menu {
	text-align: center;
	font-size: 48px;
	
	width: 98%;
	height: 99%;
}

td{
	padding: 1%;
	width: 100%;
}

img.imgbutton {
	max-width: 264px;
	max-height: 64px;
	width: 25%;

}

tr {
	max-height: 10%;
	border: 1px solid black;
}