table#menu {
	text-align: center;
	font-size: 48px;
	padding: 8%;
	width: 98%;
	height: 98%
}

td{
	padding: 1%;
	width: 100%;
}

div#mainHolder {
	background: #666666;
	max-width: 1920px;
	max-height: 1080px;
	width: auto;
	height: auto;
}

img.imgbutton {
	max-width: 264px;
	max-height: 64px;
	width: 25%;

}

tr {
	max-height: 10%;
	border: 1px solid black;
}